version: '3.9'
services:
  nest-api:
    build: .
    ports:
      - 8000:3000
    volumes:
      - .:/app
    depends_on:
      - postgres

  postgres:
    image: postgres:14.1
    command: postgres -c stats_temp_directory=/tmp
    restart: always
    env_file:
      - docker.env
    # environment:
    #   - POSTGRES_USER=postgres
    #   - POSTGRES_PASSWORD=postgres
    #   - POSTGRES_DB=authTest
    #   - POSTGRES_MULTIPLE_EXTENSIONS=${POSTGRES_MULTIPLE_EXTENSIONS:-postgis,hstore,postgis_topology}
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    ports:
      - 33066:5432

  # pgadmin:
  #   container_name: pgadmin4
  #   image: dpage/pgadmin4
  #   restart: always
  #   env_file:
  #     - docker.env
  #   # environment:
  #   #   PGADMIN_DEFAULT_EMAIL: admin@admin.com
  #   #   PGADMIN_DEFAULT_PASSWORD: root
  #   ports:
  #     - '5050:80'

  redis:
    image: redis
    ports:
      - 6379:6379
networks:
  postgres:
    driver: bridge
